[build]
builder = "DOCKERFILE"
dockerfilePath = "apps/api-server/Dockerfile"

[deploy]
startCommand = "node dist/main.js"
healthcheckPath = "/api/health/live"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
