version: '3.8'

services:
  app:
    build: .
    container_name: card3-provider-app
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE=card3_provider
      - DB_SYNCHRONIZE=true
      - LOG_LEVEL=debug
    volumes:
      - ./logs:/app/logs

  postgres:
    image: postgres:16-alpine
    container_name: card3-provider-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=card3_provider
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: 